:root {
  --theme-primary: #f5ae43;
  --theme-secondary: #f6d55c;
  --theme-accent: #3ec5ff;
  --theme-grey: #d9d9d9;
  --color: #131313;
  --white: #f2eeee;
  --font-size: 16px;
  --boldness: 700;
  --section-padding: 3rem;
  --button-padding: 0.75rem 1.25rem;
}

body {
  color: var(--color);
  font-size: var(--font-size);
  background-color: var(--theme-grey);
}

section {
  padding: var(--section-padding);
}

.nav-mar {
  max-height: 1vh;
}

.lorem-1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
}

.cool-image {
  max-height: 500px;
  max-width: 500px;
  border: solid 15px white;
  box-shadow: 6px 6px 6px rgba(128, 128, 128, 0.317);
}

.hero {
  background-color: var(--color);
  height: 60vh;
  background-position: center;
  background-size: cover;
}
